<a href="https://colab.research.google.com/github/jhonycq/Practicas-python-pyspark/blob/main/Practica_pyspark_jhony.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 50.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845514 sha256=38f05cc4004302df17846b0a4204a8aa1a6108793ecf7b636770ffd03b32ff04
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession

import datetime

spark = SparkSession.builder.appName("jhony").config("spark.jars", "postgresql-42.3.3.jar").getOrCreate()

servidor="34.132.209.74" 
puerto = 5432 
db = "base-datos-spark" 
usuario= "matthew" 
contraseña = "matthew" 
tabla_customers="customers" 


url = f"jdbc:postgresql://{servidor}/{db}"

customers_df = spark.read \
	.format("jdbc") \
    .option("url", url)\
    .option("dbtable", tabla_customers)\
    .option("user", usuario)\
    .option("password", contraseña)\
    .option("driver", "org.postgresql.Driver")\
    .load()

ruta_bucket = f"/content/archivos/test/customers/"
customers_df.repartition(4).write.mode('overwrite').option("compression","gzip").parquet(ruta_bucket)

In [ ]:
# tabla de suppliers (proveedores)
suppliers_df = spark.read \
	.format("jdbc") \
    .option("url", url)\
    .option("dbtable", "suppliers")\
    .option("user", usuario)\
    .option("password", contraseña)\
    .option("driver", "org.postgresql.Driver")\
    .load()

# tabla employees (empleados)
Employees_df = spark.read \
	.format("jdbc") \
    .option("url", url)\
    .option("dbtable", "employees")\
    .option("user", usuario)\
    .option("password", contraseña)\
    .option("driver", "org.postgresql.Driver")\
    .load()

# tabla products (productos)
products_df = spark.read \
	.format("jdbc") \
    .option("url", url)\
    .option("dbtable", "products")\
    .option("user", usuario)\
    .option("password", contraseña)\
    .option("driver", "org.postgresql.Driver")\
    .load()
# tabla orders (ordenes)
orders_df = spark.read \
	.format("jdbc") \
    .option("url", url)\
    .option("dbtable", "orders")\
    .option("user", usuario)\
    .option("password", contraseña)\
    .option("driver", "org.postgresql.Driver")\
    .load()

In [ ]:
# 1. Seleccionar los clientes que viven en el país de "usa"
customers_df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- company_name: string (nullable = true)
 |-- contact_name: string (nullable = true)
 |-- contact_title: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- region: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- fax: string (nullable = true)

In [ ]:
customers_df.filter(customers_df.country == 'USA').show(5)

+-----------+--------------------+-------------+--------------------+--------------------+-------------+------+-----------+-------+--------------+--------------+
|customer_id|        company_name| contact_name|       contact_title|             address|         city|region|postal_code|country|         phone|           fax|
+-----------+--------------------+-------------+--------------------+--------------------+-------------+------+-----------+-------+--------------+--------------+
|      GREAL|Great Lakes Food ...|Howard Snyder|   Marketing Manager|    2732 Baker Blvd.|       Eugene|    OR|      97403|    USA|(503) 555-7555|          null|
|      HUNGC|Hungry Coyote Imp...|Yoshi Latimer|Sales Representative|City Center Plaza...|        Elgin|    OR|      97827|    USA|(503) 555-6874|(503) 555-2376|
|      LAZYK|Lazy K Kountry Store|   John Steel|   Marketing Manager|12 Orchestra Terrace|  Walla Walla|    WA|      99362|    USA|(509) 555-7969|(509) 555-6221|
|      LETSS|   Let's Stop N Shop| Jaime Yorres|               Owner| 87 Polk St. Suite 5|San Francisco|    CA|      94117|    USA|(415) 555-5938|          null|
|      LONEP|Lonesome Pine Res...|  Fran Wilson|       Sales Manager|  89 Chiaroscuro Rd.|     Portland|    OR|      97219|    USA|(503) 555-9573|(503) 555-9646|
+-----------+--------------------+-------------+--------------------+--------------------+-------------+------+-----------+-------+--------------+--------------+
only showing top 5 rows

In [ ]:
# 2. Seleccionar los proveedores que viven en la ciudad de "BERLIN"
suppliers_df.printSchema()

root
 |-- supplier_id: short (nullable = true)
 |-- company_name: string (nullable = true)
 |-- contact_name: string (nullable = true)
 |-- contact_title: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- region: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- fax: string (nullable = true)
 |-- homepage: string (nullable = true)

In [ ]:
suppliers_df.filter(suppliers_df.city == 'Berlin').show(truncate=False)

+-----------+---------------------------+-------------+-------------+------------------+------+------+-----------+-------+-------------+----+--------+
|supplier_id|company_name               |contact_name |contact_title|address           |city  |region|postal_code|country|phone        |fax |homepage|
+-----------+---------------------------+-------------+-------------+------------------+------+------+-----------+-------+-------------+----+--------+
|11         |Heli Süßwaren GmbH & Co. KG|Petra Winkler|Sales Manager|Tiergartenstraße 5|Berlin|null  |10785      |Germany|(010) 9984510|null|null    |
+-----------+---------------------------+-------------+-------------+------------------+------+------+-----------+-------+-------------+----+--------+

In [ ]:
# 3. Seleccionar los empleados con código 3,5 y 8
Employees_df.printSchema()

root
 |-- employee_id: short (nullable = true)
 |-- last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- title: string (nullable = true)
 |-- title_of_courtesy: string (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- region: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- home_phone: string (nullable = true)
 |-- extension: string (nullable = true)
 |-- photo: binary (nullable = true)
 |-- notes: string (nullable = true)
 |-- reports_to: short (nullable = true)
 |-- photo_path: string (nullable = true)

In [ ]:
Employees_df.filter(Employees_df.employee_id.isin([3,5,8])).show()

+-----------+---------+----------+--------------------+-----------------+----------+----------+--------------------+--------+------+-----------+-------+--------------+---------+-----+--------------------+----------+--------------------+
|employee_id|last_name|first_name|               title|title_of_courtesy|birth_date| hire_date|             address|    city|region|postal_code|country|    home_phone|extension|photo|               notes|reports_to|          photo_path|
+-----------+---------+----------+--------------------+-----------------+----------+----------+--------------------+--------+------+-----------+-------+--------------+---------+-----+--------------------+----------+--------------------+
|          3|Leverling|     Janet|Sales Representative|              Ms.|1963-08-30|1992-04-01|  722 Moss Bay Blvd.|Kirkland|    WA|      98033|    USA|(206) 555-3412|     3355|   []|Janet has a BS de...|         2|http://accweb/emm...|
|          5| Buchanan|    Steven|       Sales Manager|              Mr.|1955-03-04|1993-10-17|     14 Garrett Hill|  London|  null|    SW1 8JR|     UK| (71) 555-4848|     3453|   []|Steven Buchanan g...|         2|http://accweb/emm...|
|          8| Callahan|     Laura|Inside Sales Coor...|              Ms.|1958-01-09|1994-03-05|4726 - 11th Ave. ...| Seattle|    WA|      98105|    USA|(206) 555-1189|     2344|   []|Laura received a ...|         2|http://accweb/emm...|
+-----------+---------+----------+--------------------+-----------------+----------+----------+--------------------+--------+------+-----------+-------+--------------+---------+-----+--------------------+----------+--------------------+

In [ ]:
# 5. Seleccionar los productos con precio mayor o igual a 20 y menor o igual a 90
products_df.printSchema()

root
 |-- product_id: short (nullable = true)
 |-- product_name: string (nullable = true)
 |-- supplier_id: short (nullable = true)
 |-- category_id: short (nullable = true)
 |-- quantity_per_unit: string (nullable = true)
 |-- unit_price: float (nullable = true)
 |-- units_in_stock: short (nullable = true)
 |-- units_on_order: short (nullable = true)
 |-- reorder_level: short (nullable = true)
 |-- discontinued: integer (nullable = true)

In [ ]:
products_df.filter(products_df.unit_price.between(20,90)).show()

+----------+--------------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id| quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|         4|Chef Anton's Caju...|          2|          2|    48 - 6 oz jars|      22.0|            53|             0|            0|           0|
|         5|Chef Anton's Gumb...|          2|          2|          36 boxes|     21.35|             0|             0|            0|           1|
|         6|Grandma's Boysenb...|          3|          2|    12 - 8 oz jars|      25.0|           120|             0|           25|           0|
|         7|Uncle Bob's Organ...|          3|          7|   12 - 1 lb pkgs.|      30.0|            15|             0|           10|           0|
|         8|Northwoods Cranbe...|          3|          2|   12 - 12 oz jars|      40.0|             6|             0|            0|           0|
|        10|               Ikura|          4|          8|  12 - 200 ml jars|      31.0|            31|             0|            0|           0|
|        11|      Queso Cabrales|          5|          4|         1 kg pkg.|      21.0|            22|            30|           30|           0|
|        12|Queso Manchego La...|          5|          4|  10 - 500 g pkgs.|      38.0|            86|             0|            0|           0|
|        14|                Tofu|          6|          7|  40 - 100 g pkgs.|     23.25|            35|             0|            0|           0|
|        17|        Alice Mutton|          7|          6|    20 - 1 kg tins|      39.0|             0|             0|            0|           1|
|        18|    Carnarvon Tigers|          7|          8|        16 kg pkg.|      62.5|            42|             0|            0|           0|
|        20|Sir Rodney's Marm...|          8|          3|     30 gift boxes|      81.0|            40|             0|            0|           0|
|        22| Gustaf's Knäckebröd|          9|          5|  24 - 500 g pkgs.|      21.0|           104|             0|           25|           0|
|        26| Gumbär Gummibärchen|         11|          3|  100 - 250 g bags|     31.23|            15|             0|            0|           0|
|        27|  Schoggi Schokolade|         11|          3|100 - 100 g pieces|      43.9|            49|             0|           30|           0|
|        28|   Rössle Sauerkraut|         12|          7|   25 - 825 g cans|      45.6|            26|             0|            0|           1|
|        30|Nord-Ost Matjeshe...|         13|          8|10 - 200 g glasses|     25.89|            10|             0|           15|           0|
|        32|  Mascarpone Fabioli|         14|          4|  24 - 200 g pkgs.|      32.0|             9|            40|           25|           0|
|        37|          Gravad lax|         17|          8|  12 - 500 g pkgs.|      26.0|            11|            50|           25|           0|
|        43|         Ipoh Coffee|         20|          1|   16 - 500 g tins|      46.0|            17|            10|           25|           0|
+----------+--------------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
only showing top 20 rows

In [ ]:
# 6. Mostrar las órdenes de compra entre las fechas 01/01/1997 al 15/07/1997
orders_df.printSchema()

root
 |-- order_id: short (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- employee_id: short (nullable = true)
 |-- order_date: date (nullable = true)
 |-- required_date: date (nullable = true)
 |-- shipped_date: date (nullable = true)
 |-- ship_via: short (nullable = true)
 |-- freight: float (nullable = true)
 |-- ship_name: string (nullable = true)
 |-- ship_address: string (nullable = true)
 |-- ship_city: string (nullable = true)
 |-- ship_region: string (nullable = true)
 |-- ship_postal_code: string (nullable = true)
 |-- ship_country: string (nullable = true)

In [ ]:
orders_df.show(3)

+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|      ship_address|     ship_city|ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
|   10248|      VINET|          5|1996-07-04|   1996-08-01|  1996-07-16|       3|  32.38|Vins et alcools C...|59 rue de l'Abbaye|         Reims|       null|           51100|      France|
|   10249|      TOMSP|          6|1996-07-05|   1996-08-16|  1996-07-10|       1|  11.61|  Toms Spezialitäten|     Luisenstr. 48|       Münster|       null|           44087|     Germany|
|   10250|      HANAR|          4|1996-07-08|   1996-08-05|  1996-07-12|       2|  65.83|       Hanari Carnes|   Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
only showing top 3 rows

In [ ]:
orders_df.filter(orders_df.order_date.between('1997-01-01', ' 1997-07-15')).show()

+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+---------------+-------------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|        ship_address|      ship_city|  ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+---------------+-------------+----------------+------------+
|   10400|      EASTC|          1|1997-01-01|   1997-01-29|  1997-01-16|       3|  83.93|  Eastern Connection|      35 King George|         London|         null|         WX3 6FW|          UK|
|   10401|      RATTC|          1|1997-01-01|   1997-01-29|  1997-01-10|       1|  12.51|Rattlesnake Canyo...|     2817 Milton Dr.|    Albuquerque|           NM|           87110|         USA|
|   10402|      ERNSH|          8|1997-01-02|   1997-02-13|  1997-01-10|       2|  67.88|        Ernst Handel|        Kirchgasse 6|           Graz|         null|            8010|     Austria|
|   10403|      ERNSH|          4|1997-01-03|   1997-01-31|  1997-01-09|       3|  73.79|        Ernst Handel|        Kirchgasse 6|           Graz|         null|            8010|     Austria|
|   10404|      MAGAA|          2|1997-01-03|   1997-01-31|  1997-01-08|       1| 155.97|Magazzini Aliment...|Via Ludovico il M...|        Bergamo|         null|           24100|       Italy|
|   10405|      LINOD|          1|1997-01-06|   1997-02-03|  1997-01-22|       1|  34.82|    LINO-Delicateses|Ave. 5 de Mayo Po...|I. de Margarita|Nueva Esparta|            4980|   Venezuela|
|   10406|      QUEEN|          7|1997-01-07|   1997-02-18|  1997-01-13|       1| 108.04|       Queen Cozinha|Alameda dos Canàr...|      Sao Paulo|           SP|       05487-020|      Brazil|
|   10407|      OTTIK|          2|1997-01-07|   1997-02-04|  1997-01-30|       2|  91.48|  Ottilies Käseladen|  Mehrheimerstr. 369|           Köln|         null|           50739|     Germany|
|   10408|      FOLIG|          8|1997-01-08|   1997-02-05|  1997-01-14|       1|  11.26|   Folies gourmandes|184, chaussée de ...|          Lille|         null|           59000|      France|
|   10409|      OCEAN|          3|1997-01-09|   1997-02-06|  1997-01-14|       1|  29.83|Océano Atlántico ...|Ing. Gustavo Monc...|   Buenos Aires|         null|            1010|   Argentina|
|   10410|      BOTTM|          3|1997-01-10|   1997-02-07|  1997-01-15|       3|    2.4|Bottom-Dollar Mar...|  23 Tsawassen Blvd.|      Tsawassen|           BC|         T2F 8M4|      Canada|
|   10411|      BOTTM|          9|1997-01-10|   1997-02-07|  1997-01-21|       3|  23.65|Bottom-Dollar Mar...|  23 Tsawassen Blvd.|      Tsawassen|           BC|         T2F 8M4|      Canada|
|   10412|      WARTH|          8|1997-01-13|   1997-02-10|  1997-01-15|       2|   3.77|      Wartian Herkku|         Torikatu 38|           Oulu|         null|           90110|     Finland|
|   10413|      LAMAI|          3|1997-01-14|   1997-02-11|  1997-01-16|       2|  95.66|    La maison d'Asie|1 rue Alsace-Lorr...|       Toulouse|         null|           31000|      France|
|   10414|      FAMIA|          2|1997-01-14|   1997-02-11|  1997-01-17|       3|  21.48|  Familia Arquibaldo|        Rua Orós, 92|      Sao Paulo|           SP|       05442-030|      Brazil|
|   10415|      HUNGC|          3|1997-01-15|   1997-02-12|  1997-01-24|       1|    0.2|Hungry Coyote Imp...|City Center Plaza...|          Elgin|           OR|           97827|         USA|
|   10416|      WARTH|          8|1997-01-16|   1997-02-13|  1997-01-27|       3|  22.72|      Wartian Herkku|         Torikatu 38|           Oulu|         null|           90110|     Finland|
|   10417|      SIMOB|          4|1997-01-16|   1997-02-13|  1997-01-28|       3|  70.29|       Simons bistro|        Vinbæltet 34|      Kobenhavn|         null|            1734|     Denmark|
|   10418|      QUICK|          4|1997-01-17|   1997-02-14|  1997-01-24|       1|  17.55|          QUICK-Stop|    Taucherstraße 10|      Cunewalde|         null|           01307|     Germany|
|   10419|      RICSU|          4|1997-01-20|   1997-02-17|  1997-01-30|       2| 137.35|  Richter Supermarkt|         Starenweg 5|         Genève|         null|            1204| Switzerland|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+---------------+-------------+----------------+------------+
only showing top 20 rows

In [ ]:
#7. Mostrar las órdenes de compra hechas en el año 1997, que pertenecen a los empleados con códigos 1 ,3 ,4 ,8
# importaremos la funciones de sql a pyspark

from pyspark.sql import functions as F 

orders_df.show(3)

+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|      ship_address|     ship_city|ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
|   10248|      VINET|          5|1996-07-04|   1996-08-01|  1996-07-16|       3|  32.38|Vins et alcools C...|59 rue de l'Abbaye|         Reims|       null|           51100|      France|
|   10249|      TOMSP|          6|1996-07-05|   1996-08-16|  1996-07-10|       1|  11.61|  Toms Spezialitäten|     Luisenstr. 48|       Münster|       null|           44087|     Germany|
|   10250|      HANAR|          4|1996-07-08|   1996-08-05|  1996-07-12|       2|  65.83|       Hanari Carnes|   Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
only showing top 3 rows

In [ ]:
orders_df.filter((F.year(orders_df.order_date)=='1997') & (orders_df.employee_id.isin(1,3,4,8))).show(6)

+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+---------------+-------------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|        ship_address|      ship_city|  ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+---------------+-------------+----------------+------------+
|   10400|      EASTC|          1|1997-01-01|   1997-01-29|  1997-01-16|       3|  83.93|  Eastern Connection|      35 King George|         London|         null|         WX3 6FW|          UK|
|   10401|      RATTC|          1|1997-01-01|   1997-01-29|  1997-01-10|       1|  12.51|Rattlesnake Canyo...|     2817 Milton Dr.|    Albuquerque|           NM|           87110|         USA|
|   10402|      ERNSH|          8|1997-01-02|   1997-02-13|  1997-01-10|       2|  67.88|        Ernst Handel|        Kirchgasse 6|           Graz|         null|            8010|     Austria|
|   10403|      ERNSH|          4|1997-01-03|   1997-01-31|  1997-01-09|       3|  73.79|        Ernst Handel|        Kirchgasse 6|           Graz|         null|            8010|     Austria|
|   10405|      LINOD|          1|1997-01-06|   1997-02-03|  1997-01-22|       1|  34.82|    LINO-Delicateses|Ave. 5 de Mayo Po...|I. de Margarita|Nueva Esparta|            4980|   Venezuela|
|   10408|      FOLIG|          8|1997-01-08|   1997-02-05|  1997-01-14|       1|  11.26|   Folies gourmandes|184, chaussée de ...|          Lille|         null|           59000|      France|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+---------------+-------------+----------------+------------+
only showing top 6 rows

In [ ]:
# 8. Mostrar las ordenes hechas en el año 1996

orders_df.filter(F.year(orders_df.order_date)== '1996').show(4)

+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|      ship_address|     ship_city|ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
|   10248|      VINET|          5|1996-07-04|   1996-08-01|  1996-07-16|       3|  32.38|Vins et alcools C...|59 rue de l'Abbaye|         Reims|       null|           51100|      France|
|   10249|      TOMSP|          6|1996-07-05|   1996-08-16|  1996-07-10|       1|  11.61|  Toms Spezialitäten|     Luisenstr. 48|       Münster|       null|           44087|     Germany|
|   10250|      HANAR|          4|1996-07-08|   1996-08-05|  1996-07-12|       2|  65.83|       Hanari Carnes|   Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|
|   10251|      VICTE|          3|1996-07-08|   1996-08-05|  1996-07-15|       1|  41.34|Victuailles en stock|2, rue du Commerce|          Lyon|       null|           69004|      France|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
only showing top 4 rows

In [ ]:
# 9. Mostrar las ordenes hechas en el año 1997 ,del mes de abril

orders_df.filter(orders_df.order_date.between('1997-04-01', ' 1997-04-30')).show(5)

+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+---------+-----------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|        ship_address|ship_city|ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+---------+-----------+----------------+------------+
|   10492|      BOTTM|          3|1997-04-01|   1997-04-29|  1997-04-11|       1|  62.89|Bottom-Dollar Mar...|  23 Tsawassen Blvd.|Tsawassen|         BC|         T2F 8M4|      Canada|
|   10493|      LAMAI|          4|1997-04-02|   1997-04-30|  1997-04-10|       3|  10.64|    La maison d'Asie|1 rue Alsace-Lorr...| Toulouse|       null|           31000|      France|
|   10494|      COMMI|          4|1997-04-02|   1997-04-30|  1997-04-09|       2|  65.99|    Comércio Mineiro|Av. dos Lusíadas, 23|Sao Paulo|         SP|       05432-043|      Brazil|
|   10495|      LAUGB|          3|1997-04-03|   1997-05-01|  1997-04-11|       3|   4.65|Laughing Bacchus ...|        2319 Elm St.|Vancouver|         BC|         V3F 2K1|      Canada|
|   10496|      TRADH|          7|1997-04-04|   1997-05-02|  1997-04-07|       2|  46.77|Tradiçao Hipermer...|Av. Inês de Castr...|Sao Paulo|         SP|       05634-030|      Brazil|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+---------+-----------+----------------+------------+
only showing top 5 rows

In [ ]:
# 10. Mostrar las ordenes hechas el primero de todos los meses, del año 1998
orders_df.filter((F.year(orders_df.order_date)=='1998') & (F.dayofmonth(orders_df.order_date)=='1')).show()

+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+------------+-----------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|        ship_address|   ship_city|ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+------------+-----------+----------------+------------+
|   10808|      OLDWO|          2|1998-01-01|   1998-01-29|  1998-01-09|       3|  45.53|Old World Delicat...|     2743 Bering St.|   Anchorage|         AK|           99508|         USA|
|   10809|      WELLI|          7|1998-01-01|   1998-01-29|  1998-01-07|       1|   4.87|Wellington Import...|  Rua do Mercado, 12|     Resende|         SP|       08737-363|      Brazil|
|   10810|      LAUGB|          2|1998-01-01|   1998-01-29|  1998-01-07|       3|   4.33|Laughing Bacchus ...|        2319 Elm St.|   Vancouver|         BC|         V3F 2K1|      Canada|
|   10990|      ERNSH|          2|1998-04-01|   1998-05-13|  1998-04-07|       3| 117.61|        Ernst Handel|        Kirchgasse 6|        Graz|       null|            8010|     Austria|
|   10991|      QUICK|          1|1998-04-01|   1998-04-29|  1998-04-07|       1|  38.51|          QUICK-Stop|    Taucherstraße 10|   Cunewalde|       null|           01307|     Germany|
|   10992|      THEBI|          1|1998-04-01|   1998-04-29|  1998-04-03|       3|   4.27|      The Big Cheese|89 Jefferson Way ...|    Portland|         OR|           97201|         USA|
|   10993|      FOLKO|          7|1998-04-01|   1998-04-29|  1998-04-10|       3|   8.81|      Folk och fä HB|        Åkergatan 24|      Bräcke|       null|        S-844 67|      Sweden|
|   11064|      SAVEA|          1|1998-05-01|   1998-05-29|  1998-05-04|       1|  30.09|  Save-a-lot Markets|     187 Suffolk Ln.|       Boise|         ID|           83720|         USA|
|   11065|      LILAS|          8|1998-05-01|   1998-05-29|        null|       1|  12.91|   LILA-Supermercado|Carrera 52 con Av...|Barquisimeto|       Lara|            3508|   Venezuela|
|   11066|      WHITC|          7|1998-05-01|   1998-05-29|  1998-05-04|       2|  44.72|White Clover Markets| 1029 - 12th Ave. S.|     Seattle|         WA|           98124|         USA|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+------------+-----------+----------------+------------+

In [ ]:
# 11. Mostrar todos los clientes que no tienen fax
customers_df.show(2)

+-----------+--------------------+------------+--------------------+--------------------+-----------+------+-----------+-------+------------+------------+
|customer_id|        company_name|contact_name|       contact_title|             address|       city|region|postal_code|country|       phone|         fax|
+-----------+--------------------+------------+--------------------+--------------------+-----------+------+-----------+-------+------------+------------+
|      ALFKI| Alfreds Futterkiste|Maria Anders|Sales Representative|       Obere Str. 57|     Berlin|  null|      12209|Germany| 030-0074321| 030-0076545|
|      ANATR|Ana Trujillo Empa...|Ana Trujillo|               Owner|Avda. de la Const...|México D.F.|  null|      05021| Mexico|(5) 555-4729|(5) 555-3745|
+-----------+--------------------+------------+--------------------+--------------------+-----------+------+-----------+-------+------------+------------+
only showing top 2 rows

In [ ]:
customers_df.filter(customers_df.fax.isNull()).show(5)

+-----------+--------------------+-----------------+--------------------+--------------------+-----------+------+-----------+-----------+--------------+----+
|customer_id|        company_name|     contact_name|       contact_title|             address|       city|region|postal_code|    country|         phone| fax|
+-----------+--------------------+-----------------+--------------------+--------------------+-----------+------+-----------+-----------+--------------+----+
|      ANTON|Antonio Moreno Ta...|   Antonio Moreno|               Owner|     Mataderos  2312|México D.F.|  null|      05023|     Mexico|  (5) 555-3932|null|
|      BSBEV|       B's Beverages|Victoria Ashworth|Sales Representative|   Fauntleroy Circus|     London|  null|    EC2 5NT|         UK|(171) 555-1212|null|
|      CHOPS|   Chop-suey Chinese|        Yang Wang|               Owner|        Hauptstr. 29|       Bern|  null|       3012|Switzerland|   0452-076545|null|
|      COMMI|    Comércio Mineiro|     Pedro Afonso|     Sales Associate|Av. dos Lusíadas, 23|  Sao Paulo|    SP|  05432-043|     Brazil| (11) 555-7647|null|
|      FAMIA|  Familia Arquibaldo|        Aria Cruz| Marketing Assistant|        Rua Orós, 92|  Sao Paulo|    SP|  05442-030|     Brazil| (11) 555-9857|null|
+-----------+--------------------+-----------------+--------------------+--------------------+-----------+------+-----------+-----------+--------------+----+
only showing top 5 rows

In [ ]:
# 12. Mostrar todos los clientes que tienen fax

customers_df.filter(customers_df.fax.isNotNull()).show(5)

+-----------+--------------------+------------------+--------------------+--------------------+-----------+------+-----------+-------+--------------+--------------+
|customer_id|        company_name|      contact_name|       contact_title|             address|       city|region|postal_code|country|         phone|           fax|
+-----------+--------------------+------------------+--------------------+--------------------+-----------+------+-----------+-------+--------------+--------------+
|      ALFKI| Alfreds Futterkiste|      Maria Anders|Sales Representative|       Obere Str. 57|     Berlin|  null|      12209|Germany|   030-0074321|   030-0076545|
|      ANATR|Ana Trujillo Empa...|      Ana Trujillo|               Owner|Avda. de la Const...|México D.F.|  null|      05021| Mexico|  (5) 555-4729|  (5) 555-3745|
|      AROUT|     Around the Horn|      Thomas Hardy|Sales Representative|     120 Hanover Sq.|     London|  null|    WA1 1DP|     UK|(171) 555-7788|(171) 555-6750|
|      BERGS|  Berglunds snabbköp|Christina Berglund| Order Administrator|     Berguvsvägen  8|      Luleå|  null|   S-958 22| Sweden| 0921-12 34 65| 0921-12 34 67|
|      BLAUS|Blauer See Delika...|        Hanna Moos|Sales Representative|      Forsterstr. 57|   Mannheim|  null|      68306|Germany|    0621-08460|    0621-08924|
+-----------+--------------------+------------------+--------------------+--------------------+-----------+------+-----------+-------+--------------+--------------+
only showing top 5 rows

In [ ]:
# 13. Mostrar el nombre del producto, el precio, el stock y el nombre de la categoría a la que pertenece.

# tabla categories (categoria)
categories_df = spark.read \
	.format("jdbc") \
    .option("url", url)\
    .option("dbtable", "categories")\
    .option("user", usuario)\
    .option("password", contraseña)\
    .option("driver", "org.postgresql.Driver")\
    .load()


categories_df.show(truncate=False)

+-----------+--------------+----------------------------------------------------------+-------+
|category_id|category_name |description                                               |picture|
+-----------+--------------+----------------------------------------------------------+-------+
|1          |Beverages     |Soft drinks, coffees, teas, beers, and ales               |[]     |
|2          |Condiments    |Sweet and savory sauces, relishes, spreads, and seasonings|[]     |
|3          |Confections   |Desserts, candies, and sweet breads                       |[]     |
|4          |Dairy Products|Cheeses                                                   |[]     |
|5          |Grains/Cereals|Breads, crackers, pasta, and cereal                       |[]     |
|6          |Meat/Poultry  |Prepared meats                                            |[]     |
|7          |Produce       |Dried fruit and bean curd                                 |[]     |
|8          |Seafood       |Seaweed and fish                                          |[]     |
+-----------+--------------+----------------------------------------------------------+-------+

In [ ]:
products_df.show(3)

+----------+-------------+-----------+-----------+-------------------+----------+--------------+--------------+-------------+------------+
|product_id| product_name|supplier_id|category_id|  quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+-------------+-----------+-----------+-------------------+----------+--------------+--------------+-------------+------------+
|         1|         Chai|          8|          1| 10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|         2|        Chang|          1|          1| 24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
|         3|Aniseed Syrup|          1|          2|12 - 550 ml bottles|      10.0|            13|            70|           25|           0|
+----------+-------------+-----------+-----------+-------------------+----------+--------------+--------------+-------------+------------+
only showing top 3 rows

In [ ]:
df= products_df.join(categories_df, on=['category_id'], how='inner').select(products_df.product_name, 
                                                                        products_df.unit_price,
                                                                         products_df.units_in_stock,
                                                                         categories_df.category_name)

df.show()

+--------------------+----------+--------------+-------------+
|        product_name|unit_price|units_in_stock|category_name|
+--------------------+----------+--------------+-------------+
|                Chai|      18.0|            39|    Beverages|
|               Chang|      19.0|            17|    Beverages|
|  Guaraná Fantástica|       4.5|            20|    Beverages|
|       Sasquatch Ale|      14.0|           111|    Beverages|
|      Steeleye Stout|      18.0|            20|    Beverages|
|       Côte de Blaye|     263.5|            17|    Beverages|
|    Chartreuse verte|      18.0|            69|    Beverages|
|         Ipoh Coffee|      46.0|            17|    Beverages|
|Laughing Lumberja...|      14.0|            52|    Beverages|
|       Outback Lager|      15.0|            15|    Beverages|
|Rhönbräu Klosterbier|      7.75|           125|    Beverages|
|        Lakkalikööri|      18.0|            57|    Beverages|
|       Aniseed Syrup|      10.0|            13|   Condiments|
|Chef Anton's Caju...|      22.0|            53|   Condiments|
|Chef Anton's Gumb...|     21.35|             0|   Condiments|
|Grandma's Boysenb...|      25.0|           120|   Condiments|
|Northwoods Cranbe...|      40.0|             6|   Condiments|
|        Genen Shouyu|      13.0|            39|   Condiments|
|        Gula Malacca|     19.45|            27|   Condiments|
|      Sirop d'érable|      28.5|           113|   Condiments|
+--------------------+----------+--------------+-------------+
only showing top 20 rows

In [ ]:
# 14. Mostrar el nombre del producto, el precio producto, el código del proveedor y el nombre de la compañía proveedora.

suppliers_df.show(3)

+-----------+--------------------+----------------+--------------------+--------------+-----------+------+-----------+-------+--------------+--------------+-----------+
|supplier_id|        company_name|    contact_name|       contact_title|       address|       city|region|postal_code|country|         phone|           fax|   homepage|
+-----------+--------------------+----------------+--------------------+--------------+-----------+------+-----------+-------+--------------+--------------+-----------+
|          1|      Exotic Liquids|Charlotte Cooper|  Purchasing Manager|49 Gilbert St.|     London|  null|    EC1 4SD|     UK|(171) 555-2222|          null|       null|
|          2|New Orleans Cajun...|   Shelley Burke| Order Administrator|P.O. Box 78934|New Orleans|    LA|      70117|    USA|(100) 555-4822|          null|#CAJUN.HTM#|
|          3|Grandma Kelly's H...|   Regina Murphy|Sales Representative|707 Oxford Rd.|  Ann Arbor|    MI|      48104|    USA|(313) 555-5735|(313) 555-3349|       null|
+-----------+--------------------+----------------+--------------------+--------------+-----------+------+-----------+-------+--------------+--------------+-----------+
only showing top 3 rows

In [ ]:
products_df.join(suppliers_df, on=['supplier_id'], how='inner').select(products_df.product_name,
                                                                       products_df.unit_price,
                                                                       suppliers_df.supplier_id,
                                                                       suppliers_df.company_name).show()

+--------------------+----------+-----------+--------------------+
|        product_name|unit_price|supplier_id|        company_name|
+--------------------+----------+-----------+--------------------+
|               Chang|      19.0|          1|      Exotic Liquids|
|       Aniseed Syrup|      10.0|          1|      Exotic Liquids|
|Chef Anton's Caju...|      22.0|          2|New Orleans Cajun...|
|Chef Anton's Gumb...|     21.35|          2|New Orleans Cajun...|
|Louisiana Fiery H...|     21.05|          2|New Orleans Cajun...|
|Louisiana Hot Spi...|      17.0|          2|New Orleans Cajun...|
|Grandma's Boysenb...|      25.0|          3|Grandma Kelly's H...|
|Uncle Bob's Organ...|      30.0|          3|Grandma Kelly's H...|
|Northwoods Cranbe...|      40.0|          3|Grandma Kelly's H...|
|     Mishi Kobe Niku|      97.0|          4|       Tokyo Traders|
|               Ikura|      31.0|          4|       Tokyo Traders|
|       Longlife Tofu|      10.0|          4|       Tokyo Traders|
|      Queso Cabrales|      21.0|          5|Cooperativa de Qu...|
|Queso Manchego La...|      38.0|          5|Cooperativa de Qu...|
|               Konbu|       6.0|          6|            Mayumi's|
|                Tofu|     23.25|          6|            Mayumi's|
|        Genen Shouyu|      13.0|          6|            Mayumi's|
|             Pavlova|     17.45|          7|       Pavlova, Ltd.|
|        Alice Mutton|      39.0|          7|       Pavlova, Ltd.|
|    Carnarvon Tigers|      62.5|          7|       Pavlova, Ltd.|
+--------------------+----------+-----------+--------------------+
only showing top 20 rows

In [ ]:
# 15. Mostrar el número de orden, el código del producto, el precio, la cantidad y el total pagado por producto.

# tabla order details (detalles del pedido)
order_details = spark.read \
	.format("jdbc") \
    .option("url", url)\
    .option("dbtable", "order_details")\
    .option("user", usuario)\
    .option("password", contraseña)\
    .option("driver", "org.postgresql.Driver")\
    .load()

In [ ]:
order_details.show(3)

+--------+----------+----------+--------+--------+
|order_id|product_id|unit_price|quantity|discount|
+--------+----------+----------+--------+--------+
|   10248|        11|      14.0|      12|     0.0|
|   10248|        42|       9.8|      10|     0.0|
|   10248|        72|      34.8|       5|     0.0|
+--------+----------+----------+--------+--------+
only showing top 3 rows

In [ ]:
order_details.select(order_details.order_id,
                     order_details.product_id, 
                     order_details.unit_price, 
                     order_details.quantity,
                     (order_details.unit_price*order_details.quantity).alias('TOTAL PAGADO')).show(3)

+--------+----------+----------+--------+------------+
|order_id|product_id|unit_price|quantity|TOTAL PAGADO|
+--------+----------+----------+--------+------------+
|   10248|        11|      14.0|      12|       168.0|
|   10248|        42|       9.8|      10|        98.0|
|   10248|        72|      34.8|       5|       174.0|
+--------+----------+----------+--------+------------+
only showing top 3 rows

In [ ]:
# 16. Mostrar el número de la orden, fecha, código del producto, precio, código del empleado y su nombre completo.

order_details.show(3)
Employees_df.show(3)
orders_df.show(3)

+--------+----------+----------+--------+--------+
|order_id|product_id|unit_price|quantity|discount|
+--------+----------+----------+--------+--------+
|   10248|        11|      14.0|      12|     0.0|
|   10248|        42|       9.8|      10|     0.0|
|   10248|        72|      34.8|       5|     0.0|
+--------+----------+----------+--------+--------+
only showing top 3 rows

+-----------+---------+----------+--------------------+-----------------+----------+----------+--------------------+--------+------+-----------+-------+--------------+---------+-----+--------------------+----------+--------------------+
|employee_id|last_name|first_name|               title|title_of_courtesy|birth_date| hire_date|             address|    city|region|postal_code|country|    home_phone|extension|photo|               notes|reports_to|          photo_path|
+-----------+---------+----------+--------------------+-----------------+----------+----------+--------------------+--------+------+-----------+-------+--------------+---------+-----+--------------------+----------+--------------------+
|          1|  Davolio|     Nancy|Sales Representative|              Ms.|1948-12-08|1992-05-01|507 - 20th Ave. E...| Seattle|    WA|      98122|    USA|(206) 555-9857|     5467|   []|Education include...|         2|http://accweb/emm...|
|          2|   Fuller|    Andrew|Vice President, S...|              Dr.|1952-02-19|1992-08-14|  908 W. Capital Way|  Tacoma|    WA|      98401|    USA|(206) 555-9482|     3457|   []|Andrew received h...|      null|http://accweb/emm...|
|          3|Leverling|     Janet|Sales Representative|              Ms.|1963-08-30|1992-04-01|  722 Moss Bay Blvd.|Kirkland|    WA|      98033|    USA|(206) 555-3412|     3355|   []|Janet has a BS de...|         2|http://accweb/emm...|
+-----------+---------+----------+--------------------+-----------------+----------+----------+--------------------+--------+------+-----------+-------+--------------+---------+-----+--------------------+----------+--------------------+
only showing top 3 rows

+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|      ship_address|     ship_city|ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
|   10248|      VINET|          5|1996-07-04|   1996-08-01|  1996-07-16|       3|  32.38|Vins et alcools C...|59 rue de l'Abbaye|         Reims|       null|           51100|      France|
|   10249|      TOMSP|          6|1996-07-05|   1996-08-16|  1996-07-10|       1|  11.61|  Toms Spezialitäten|     Luisenstr. 48|       Münster|       null|           44087|     Germany|
|   10250|      HANAR|          4|1996-07-08|   1996-08-05|  1996-07-12|       2|  65.83|       Hanari Carnes|   Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+--------------+-----------+----------------+------------+
only showing top 3 rows

In [ ]:
# 17. Mostrar los 10 productos con menor stock

products_df.show(2)

+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|product_id|product_name|supplier_id|category_id| quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|         1|        Chai|          8|          1|10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|         2|       Chang|          1|          1|24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
only showing top 2 rows

In [ ]:
products_df.orderBy(products_df.units_in_stock.asc()).show(10)

+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|   quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|        29|Thüringer Rostbra...|         12|          6|50 bags x 30 sausgs.|    123.79|             0|             0|            0|           1|
|         5|Chef Anton's Gumb...|          2|          2|            36 boxes|     21.35|             0|             0|            0|           1|
|        31|   Gorgonzola Telino|         14|          4|     12 - 100 g pkgs|      12.5|             0|            70|           20|           0|
|        17|        Alice Mutton|          7|          6|      20 - 1 kg tins|      39.0|             0|             0|            0|           1|
|        53|       Perth Pasties|         24|          6|           48 pieces|      32.8|             0|             0|            0|           1|
|        21| Sir Rodney's Scones|          8|          3| 24 pkgs. x 4 pieces|      10.0|             3|            40|            5|           0|
|        74|       Longlife Tofu|          4|          7|           5 kg pkg.|      10.0|             4|            20|            5|           0|
|        66|Louisiana Hot Spi...|          2|          2|      24 - 8 oz jars|      17.0|             4|           100|           20|           0|
|        45|         Rogede sild|         21|          8|             1k pkg.|       9.5|             5|            70|           15|           0|
|         8|Northwoods Cranbe...|          3|          2|     12 - 12 oz jars|      40.0|             6|             0|            0|           0|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
only showing top 10 rows

In [ ]:
# 18. Mostrar los 10 productos con mayor stock
products_df.orderBy(products_df.units_in_stock.desc()).show(10)

+----------+--------------------+-----------+-----------+-------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|  quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+-------------------+----------+--------------+--------------+-------------+------------+
|        75|Rhönbräu Klosterbier|         12|          1| 24 - 0.5 l bottles|      7.75|           125|             0|           25|           0|
|        40|    Boston Crab Meat|         19|          8|     24 - 4 oz tins|      18.4|           123|             0|           30|           0|
|         6|Grandma's Boysenb...|          3|          2|     12 - 8 oz jars|      25.0|           120|             0|           25|           0|
|        55|        Pâté chinois|         25|          6|  24 boxes x 2 pies|      24.0|           115|             0|           20|           0|
|        61|      Sirop d'érable|         29|          2|24 - 500 ml bottles|      28.5|           113|             0|           25|           0|
|        36|         Inlagd Sill|         17|          8|   24 - 250 g  jars|      19.0|           112|             0|           20|           0|
|        33|             Geitost|         15|          4|              500 g|       2.5|           112|             0|           20|           0|
|        34|       Sasquatch Ale|         16|          1| 24 - 12 oz bottles|      14.0|           111|             0|           15|           0|
|        22| Gustaf's Knäckebröd|          9|          5|   24 - 500 g pkgs.|      21.0|           104|             0|           25|           0|
|        73|          Röd Kaviar|         17|          8|    24 - 150 g jars|      15.0|           101|             0|            5|           0|
+----------+--------------------+-----------+-----------+-------------------+----------+--------------+--------------+-------------+------------+
only showing top 10 rows

In [ ]:
# 19. Mostrar los 10 productos con menor precio
products_df.orderBy(products_df.unit_price.asc()).show(10)

+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|   quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|        33|             Geitost|         15|          4|               500 g|       2.5|           112|             0|           20|           0|
|        24|  Guaraná Fantástica|         10|          1|    12 - 355 ml cans|       4.5|            20|             0|            0|           1|
|        13|               Konbu|          6|          8|            2 kg box|       6.0|            24|             0|            5|           0|
|        52|            Filo Mix|         24|          5|     16 - 2 kg boxes|       7.0|            38|             0|           25|           0|
|        54|           Tourtière|         25|          6|             16 pies|      7.45|            21|             0|           10|           0|
|        75|Rhönbräu Klosterbier|         12|          1|  24 - 0.5 l bottles|      7.75|           125|             0|           25|           0|
|        23|            Tunnbröd|          9|          5|    12 - 250 g pkgs.|       9.0|            61|             0|           25|           0|
|        19|Teatime Chocolate...|          8|          3|10 boxes x 12 pieces|       9.2|            25|             0|            5|           0|
|        47|       Zaanse koeken|         22|          3|     10 - 4 oz boxes|       9.5|            36|             0|            0|           0|
|        45|         Rogede sild|         21|          8|             1k pkg.|       9.5|             5|            70|           15|           0|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
only showing top 10 rows

In [ ]:
# 20. Mostrar los 10 productos con mayor precio
products_df.orderBy(products_df.unit_price.desc()).show(10)

+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|   quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|        38|       Côte de Blaye|         18|          1|  12 - 75 cl bottles|     263.5|            17|             0|           15|           0|
|        29|Thüringer Rostbra...|         12|          6|50 bags x 30 sausgs.|    123.79|             0|             0|            0|           1|
|         9|     Mishi Kobe Niku|          4|          6|    18 - 500 g pkgs.|      97.0|            29|             0|            0|           1|
|        20|Sir Rodney's Marm...|          8|          3|       30 gift boxes|      81.0|            40|             0|            0|           0|
|        18|    Carnarvon Tigers|          7|          8|          16 kg pkg.|      62.5|            42|             0|            0|           0|
|        59|Raclette Courdavault|         28|          4|           5 kg pkg.|      55.0|            79|             0|            0|           0|
|        51|Manjimup Dried Ap...|         24|          7|    50 - 300 g pkgs.|      53.0|            20|             0|           10|           0|
|        62|      Tarte au sucre|         29|          3|             48 pies|      49.3|            17|             0|            0|           0|
|        43|         Ipoh Coffee|         20|          1|     16 - 500 g tins|      46.0|            17|            10|           25|           0|
|        28|   Rössle Sauerkraut|         12|          7|     25 - 825 g cans|      45.6|            26|             0|            0|           1|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
only showing top 10 rows

# ***PRACTICA DE INTRODUCCION A TRANSACT SQL***

In [ ]:
# 1. Seleccionar todos los campos de la tabla clientes,ordenar por compania

import pyspark.sql.functions as f

customers_df.show(2)

+-----------+--------------------+------------+--------------------+--------------------+-----------+------+-----------+-------+------------+------------+
|customer_id|        company_name|contact_name|       contact_title|             address|       city|region|postal_code|country|       phone|         fax|
+-----------+--------------------+------------+--------------------+--------------------+-----------+------+-----------+-------+------------+------------+
|      ALFKI| Alfreds Futterkiste|Maria Anders|Sales Representative|       Obere Str. 57|     Berlin|  null|      12209|Germany| 030-0074321| 030-0076545|
|      ANATR|Ana Trujillo Empa...|Ana Trujillo|               Owner|Avda. de la Const...|México D.F.|  null|      05021| Mexico|(5) 555-4729|(5) 555-3745|
+-----------+--------------------+------------+--------------------+--------------------+-----------+------+-----------+-------+------------+------------+
only showing top 2 rows

In [ ]:
customers_df.orderBy(customers_df.company_name).show()

+-----------+--------------------+------------------+--------------------+--------------------+------------+------+-----------+-----------+--------------+--------------+
|customer_id|        company_name|      contact_name|       contact_title|             address|        city|region|postal_code|    country|         phone|           fax|
+-----------+--------------------+------------------+--------------------+--------------------+------------+------+-----------+-----------+--------------+--------------+
|      ALFKI| Alfreds Futterkiste|      Maria Anders|Sales Representative|       Obere Str. 57|      Berlin|  null|      12209|    Germany|   030-0074321|   030-0076545|
|      ANATR|Ana Trujillo Empa...|      Ana Trujillo|               Owner|Avda. de la Const...| México D.F.|  null|      05021|     Mexico|  (5) 555-4729|  (5) 555-3745|
|      ANTON|Antonio Moreno Ta...|    Antonio Moreno|               Owner|     Mataderos  2312| México D.F.|  null|      05023|     Mexico|  (5) 555-3932|          null|
|      AROUT|     Around the Horn|      Thomas Hardy|Sales Representative|     120 Hanover Sq.|      London|  null|    WA1 1DP|         UK|(171) 555-7788|(171) 555-6750|
|      BSBEV|       B's Beverages| Victoria Ashworth|Sales Representative|   Fauntleroy Circus|      London|  null|    EC2 5NT|         UK|(171) 555-1212|          null|
|      BERGS|  Berglunds snabbköp|Christina Berglund| Order Administrator|     Berguvsvägen  8|       Luleå|  null|   S-958 22|     Sweden| 0921-12 34 65| 0921-12 34 67|
|      BLAUS|Blauer See Delika...|        Hanna Moos|Sales Representative|      Forsterstr. 57|    Mannheim|  null|      68306|    Germany|    0621-08460|    0621-08924|
|      BLONP|Blondesddsl père ...|Frédérique Citeaux|   Marketing Manager|    24, place Kléber|  Strasbourg|  null|      67000|     France|   88.60.15.31|   88.60.15.32|
|      BONAP|            Bon app'|  Laurence Lebihan|               Owner|12, rue des Bouchers|   Marseille|  null|      13008|     France|   91.24.45.40|   91.24.45.41|
|      BOTTM|Bottom-Dollar Mar...| Elizabeth Lincoln|  Accounting Manager|  23 Tsawassen Blvd.|   Tsawassen|    BC|    T2F 8M4|     Canada|(604) 555-4729|(604) 555-3745|
|      BOLID|Bólido Comidas pr...|     Martín Sommer|               Owner|      C/ Araquil, 67|      Madrid|  null|      28023|      Spain|(91) 555 22 82|(91) 555 91 99|
|      CACTU|Cactus Comidas pa...|  Patricio Simpson|         Sales Agent|         Cerrito 333|Buenos Aires|  null|       1010|  Argentina|  (1) 135-5555|  (1) 135-4892|
|      CENTC|Centro comercial ...|   Francisco Chang|   Marketing Manager|Sierras de Granad...| México D.F.|  null|      05022|     Mexico|  (5) 555-3392|  (5) 555-7293|
|      CHOPS|   Chop-suey Chinese|         Yang Wang|               Owner|        Hauptstr. 29|        Bern|  null|       3012|Switzerland|   0452-076545|          null|
|      COMMI|    Comércio Mineiro|      Pedro Afonso|     Sales Associate|Av. dos Lusíadas, 23|   Sao Paulo|    SP|  05432-043|     Brazil| (11) 555-7647|          null|
|      CONSH|Consolidated Hold...|   Elizabeth Brown|Sales Representative|Berkeley Gardens ...|      London|  null|    WX1 6LT|         UK|(171) 555-2282|(171) 555-9199|
|      WANDK|   Die Wandernde Kuh|       Rita Müller|Sales Representative|   Adenauerallee 900|   Stuttgart|  null|      70563|    Germany|   0711-020361|   0711-035428|
|      DRACD|Drachenblut Delik...|      Sven Ottlieb| Order Administrator|        Walserweg 21|      Aachen|  null|      52066|    Germany|   0241-039123|   0241-059428|
|      DUMON|     Du monde entier|    Janine Labrune|               Owner|67, rue des Cinqu...|      Nantes|  null|      44000|     France|   40.67.88.88|   40.67.89.89|
|      EASTC|  Eastern Connection|         Ann Devon|         Sales Agent|      35 King George|      London|  null|    WX3 6FW|         UK|(171) 555-0297|(171) 555-3373|
+-----------+--------------------+------------------+--------------------+--------------------+------------+------+-----------+-----------+--------------+--------------+
only showing top 20 rows

In [ ]:
# 2. Seleccionar todos los campos de clientes,cuya compania empiece con la letra B y pertenezcan a UK ,ordenar por nombre de la compania

customers_df.show(3)

+-----------+--------------------+--------------+--------------------+--------------------+-----------+------+-----------+-------+------------+------------+
|customer_id|        company_name|  contact_name|       contact_title|             address|       city|region|postal_code|country|       phone|         fax|
+-----------+--------------------+--------------+--------------------+--------------------+-----------+------+-----------+-------+------------+------------+
|      ALFKI| Alfreds Futterkiste|  Maria Anders|Sales Representative|       Obere Str. 57|     Berlin|  null|      12209|Germany| 030-0074321| 030-0076545|
|      ANATR|Ana Trujillo Empa...|  Ana Trujillo|               Owner|Avda. de la Const...|México D.F.|  null|      05021| Mexico|(5) 555-4729|(5) 555-3745|
|      ANTON|Antonio Moreno Ta...|Antonio Moreno|               Owner|     Mataderos  2312|México D.F.|  null|      05023| Mexico|(5) 555-3932|        null|
+-----------+--------------------+--------------+--------------------+--------------------+-----------+------+-----------+-------+------------+------------+
only showing top 3 rows

In [ ]:
customers_df.filter(f.col('company_name').like('B%') & (f.col('country')=='UK')).show()

+-----------+-------------+-----------------+--------------------+-----------------+------+------+-----------+-------+--------------+----+
|customer_id| company_name|     contact_name|       contact_title|          address|  city|region|postal_code|country|         phone| fax|
+-----------+-------------+-----------------+--------------------+-----------------+------+------+-----------+-------+--------------+----+
|      BSBEV|B's Beverages|Victoria Ashworth|Sales Representative|Fauntleroy Circus|London|  null|    EC2 5NT|     UK|(171) 555-1212|null|
+-----------+-------------+-----------------+--------------------+-----------------+------+------+-----------+-------+--------------+----+

In [ ]:
# 3. Seleccionar todos los campos de productos de las categorias 1,3 y 5,ordenar por categoria

products_df.show(2)

+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|product_id|product_name|supplier_id|category_id| quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|         1|        Chai|          8|          1|10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|         2|       Chang|          1|          1|24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
only showing top 2 rows

In [ ]:
df1=products_df.filter(products_df.category_id.isin(1,3,5))

df1.show()

+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|   quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|         1|                Chai|          8|          1|  10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|         2|               Chang|          1|          1|  24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
|        16|             Pavlova|          7|          3|    32 - 500 g boxes|     17.45|            29|             0|           10|           0|
|        19|Teatime Chocolate...|          8|          3|10 boxes x 12 pieces|       9.2|            25|             0|            5|           0|
|        20|Sir Rodney's Marm...|          8|          3|       30 gift boxes|      81.0|            40|             0|            0|           0|
|        21| Sir Rodney's Scones|          8|          3| 24 pkgs. x 4 pieces|      10.0|             3|            40|            5|           0|
|        22| Gustaf's Knäckebröd|          9|          5|    24 - 500 g pkgs.|      21.0|           104|             0|           25|           0|
|        23|            Tunnbröd|          9|          5|    12 - 250 g pkgs.|       9.0|            61|             0|           25|           0|
|        24|  Guaraná Fantástica|         10|          1|    12 - 355 ml cans|       4.5|            20|             0|            0|           1|
|        25|NuNuCa Nuß-Nougat...|         11|          3|  20 - 450 g glasses|      14.0|            76|             0|           30|           0|
|        26| Gumbär Gummibärchen|         11|          3|    100 - 250 g bags|     31.23|            15|             0|            0|           0|
|        27|  Schoggi Schokolade|         11|          3|  100 - 100 g pieces|      43.9|            49|             0|           30|           0|
|        34|       Sasquatch Ale|         16|          1|  24 - 12 oz bottles|      14.0|           111|             0|           15|           0|
|        35|      Steeleye Stout|         16|          1|  24 - 12 oz bottles|      18.0|            20|             0|           15|           0|
|        38|       Côte de Blaye|         18|          1|  12 - 75 cl bottles|     263.5|            17|             0|           15|           0|
|        39|    Chartreuse verte|         18|          1|   750 cc per bottle|      18.0|            69|             0|            5|           0|
|        42|Singaporean Hokki...|         20|          5|     32 - 1 kg pkgs.|      14.0|            26|             0|            0|           1|
|        43|         Ipoh Coffee|         20|          1|     16 - 500 g tins|      46.0|            17|            10|           25|           0|
|        47|       Zaanse koeken|         22|          3|     10 - 4 oz boxes|       9.5|            36|             0|            0|           0|
|        48|           Chocolade|         22|          3|            10 pkgs.|     12.75|            15|            70|           25|           0|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
only showing top 20 rows

In [ ]:
df1.orderBy(df1.category_id.asc()).show()

+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|   quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|        24|  Guaraná Fantástica|         10|          1|    12 - 355 ml cans|       4.5|            20|             0|            0|           1|
|         2|               Chang|          1|          1|  24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
|        75|Rhönbräu Klosterbier|         12|          1|  24 - 0.5 l bottles|      7.75|           125|             0|           25|           0|
|        76|        Lakkalikööri|         23|          1|              500 ml|      18.0|            57|             0|           20|           0|
|        38|       Côte de Blaye|         18|          1|  12 - 75 cl bottles|     263.5|            17|             0|           15|           0|
|        39|    Chartreuse verte|         18|          1|   750 cc per bottle|      18.0|            69|             0|            5|           0|
|         1|                Chai|          8|          1|  10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|        43|         Ipoh Coffee|         20|          1|     16 - 500 g tins|      46.0|            17|            10|           25|           0|
|        34|       Sasquatch Ale|         16|          1|  24 - 12 oz bottles|      14.0|           111|             0|           15|           0|
|        67|Laughing Lumberja...|         16|          1|  24 - 12 oz bottles|      14.0|            52|             0|           10|           0|
|        70|       Outback Lager|          7|          1| 24 - 355 ml bottles|      15.0|            15|            10|           30|           0|
|        35|      Steeleye Stout|         16|          1|  24 - 12 oz bottles|      18.0|            20|             0|           15|           0|
|        16|             Pavlova|          7|          3|    32 - 500 g boxes|     17.45|            29|             0|           10|           0|
|        21| Sir Rodney's Scones|          8|          3| 24 pkgs. x 4 pieces|      10.0|             3|            40|            5|           0|
|        19|Teatime Chocolate...|          8|          3|10 boxes x 12 pieces|       9.2|            25|             0|            5|           0|
|        25|NuNuCa Nuß-Nougat...|         11|          3|  20 - 450 g glasses|      14.0|            76|             0|           30|           0|
|        47|       Zaanse koeken|         22|          3|     10 - 4 oz boxes|       9.5|            36|             0|            0|           0|
|        20|Sir Rodney's Marm...|          8|          3|       30 gift boxes|      81.0|            40|             0|            0|           0|
|        26| Gumbär Gummibärchen|         11|          3|    100 - 250 g bags|     31.23|            15|             0|            0|           0|
|        48|           Chocolade|         22|          3|            10 pkgs.|     12.75|            15|            70|           25|           0|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
only showing top 20 rows

In [ ]:
# 4. Seleccionar los productos cuyos precios unitarios estan entre 50 y 200

products_df.filter(products_df.unit_price.between(50.0,200.0)).show()

+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|   quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|         9|     Mishi Kobe Niku|          4|          6|    18 - 500 g pkgs.|      97.0|            29|             0|            0|           1|
|        18|    Carnarvon Tigers|          7|          8|          16 kg pkg.|      62.5|            42|             0|            0|           0|
|        20|Sir Rodney's Marm...|          8|          3|       30 gift boxes|      81.0|            40|             0|            0|           0|
|        29|Thüringer Rostbra...|         12|          6|50 bags x 30 sausgs.|    123.79|             0|             0|            0|           1|
|        51|Manjimup Dried Ap...|         24|          7|    50 - 300 g pkgs.|      53.0|            20|             0|           10|           0|
|        59|Raclette Courdavault|         28|          4|           5 kg pkg.|      55.0|            79|             0|            0|           0|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+

In [ ]:
# 5. Visualizar el nombre y el id de la compania del cliente,fecha,precio unitario y producto de la orden
products_df.show(1)
order_details.show(1)
orders_df.show(1)
customers_df.show(1)

+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|product_id|product_name|supplier_id|category_id| quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|         1|        Chai|          8|          1|10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
only showing top 1 row

+--------+----------+----------+--------+--------+
|order_id|product_id|unit_price|quantity|discount|
+--------+----------+----------+--------+--------+
|   10248|        11|      14.0|      12|     0.0|
+--------+----------+----------+--------+--------+
only showing top 1 row

+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+---------+-----------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|      ship_address|ship_city|ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+---------+-----------+----------------+------------+
|   10248|      VINET|          5|1996-07-04|   1996-08-01|  1996-07-16|       3|  32.38|Vins et alcools C...|59 rue de l'Abbaye|    Reims|       null|           51100|      France|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+------------------+---------+-----------+----------------+------------+
only showing top 1 row

+-----------+-------------------+------------+--------------------+-------------+------+------+-----------+-------+-----------+-----------+
|customer_id|       company_name|contact_name|       contact_title|      address|  city|region|postal_code|country|      phone|        fax|
+-----------+-------------------+------------+--------------------+-------------+------+------+-----------+-------+-----------+-----------+
|      ALFKI|Alfreds Futterkiste|Maria Anders|Sales Representative|Obere Str. 57|Berlin|  null|      12209|Germany|030-0074321|030-0076545|
+-----------+-------------------+------------+--------------------+-------------+------+------+-----------+-------+-----------+-----------+
only showing top 1 row

In [ ]:
products_df.join(order_details, on=['product_id'], how='inner').join(orders_df, on=['order_id']).join(customers_df, on=['customer_id']).select(
    orders_df.order_id,
    customers_df.company_name,
    orders_df.order_date,
    order_details.unit_price,
    products_df.product_name).show(3)

+--------+--------------------+----------+----------+-----------------+
|order_id|        company_name|order_date|unit_price|     product_name|
+--------+--------------------+----------+----------+-----------------+
|   10253|       Hanari Carnes|1996-07-10|      10.0|Gorgonzola Telino|
|   10272|Rattlesnake Canyo...|1996-08-02|      10.0|Gorgonzola Telino|
|   10273|          QUICK-Stop|1996-08-05|      10.0|Gorgonzola Telino|
+--------+--------------------+----------+----------+-----------------+
only showing top 3 rows

In [ ]:
# 6. Visualizar el nombre de la categoria y el numero de productos que hay por cada categoria.

products_df.show(2)
categories_df.show(2)

+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|product_id|product_name|supplier_id|category_id| quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|         1|        Chai|          8|          1|10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|         2|       Chang|          1|          1|24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
only showing top 2 rows

+-----------+-------------+--------------------+-------+
|category_id|category_name|         description|picture|
+-----------+-------------+--------------------+-------+
|          1|    Beverages|Soft drinks, coff...|     []|
|          2|   Condiments|Sweet and savory ...|     []|
+-----------+-------------+--------------------+-------+
only showing top 2 rows

In [ ]:
df_cat = categories_df.join(products_df, on=['category_id'], how='inner').show(2)

+-----------+-------------+--------------------+-------+----------+------------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|category_id|category_name|         description|picture|product_id|product_name|supplier_id| quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+-----------+-------------+--------------------+-------+----------+------------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|          1|    Beverages|Soft drinks, coff...|     []|         1|        Chai|          8|10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|          1|    Beverages|Soft drinks, coff...|     []|         2|       Chang|          1|24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
+-----------+-------------+--------------------+-------+----------+------------+-----------+------------------+----------+--------------+--------------+-------------+------------+
only showing top 2 rows

In [ ]:
df_cat.count

In [ ]:
# 7. Seleccionar los 5 productos mas vendidos

In [ ]:
#8. Seleccionar los jefes de los empleados

In [ ]:
#9. Obtener todos los productos cuyo nombre comienzan con M y tienen un precio comprendido entre 28 y 129

products_df.filter(f.col('product_name').like('M%') & (products_df.unit_price.between(28,129))).show()

+----------+--------------------+-----------+-----------+-----------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+-----------------+----------+--------------+--------------+-------------+------------+
|         9|     Mishi Kobe Niku|          4|          6| 18 - 500 g pkgs.|      97.0|            29|             0|            0|           1|
|        32|  Mascarpone Fabioli|         14|          4| 24 - 200 g pkgs.|      32.0|             9|            40|           25|           0|
|        51|Manjimup Dried Ap...|         24|          7| 50 - 300 g pkgs.|      53.0|            20|             0|           10|           0|
|        72|Mozzarella di Gio...|         14|          4| 24 - 200 g pkgs.|      34.8|            14|             0|            0|           0|
+----------+--------------------+-----------+-----------+-----------------+----------+--------------+--------------+-------------+------------+

In [ ]:
# 10. Obtener todos los clientes del Pais de USA,Francia y UK

customers_df.filter(customers_df.country.isin(['USA','UK','France'])).show(10)

+-----------+--------------------+------------------+--------------------+--------------------+----------+------+-----------+-------+--------------+--------------+
|customer_id|        company_name|      contact_name|       contact_title|             address|      city|region|postal_code|country|         phone|           fax|
+-----------+--------------------+------------------+--------------------+--------------------+----------+------+-----------+-------+--------------+--------------+
|      AROUT|     Around the Horn|      Thomas Hardy|Sales Representative|     120 Hanover Sq.|    London|  null|    WA1 1DP|     UK|(171) 555-7788|(171) 555-6750|
|      BLONP|Blondesddsl père ...|Frédérique Citeaux|   Marketing Manager|    24, place Kléber|Strasbourg|  null|      67000| France|   88.60.15.31|   88.60.15.32|
|      BONAP|            Bon app'|  Laurence Lebihan|               Owner|12, rue des Bouchers| Marseille|  null|      13008| France|   91.24.45.40|   91.24.45.41|
|      BSBEV|       B's Beverages| Victoria Ashworth|Sales Representative|   Fauntleroy Circus|    London|  null|    EC2 5NT|     UK|(171) 555-1212|          null|
|      CONSH|Consolidated Hold...|   Elizabeth Brown|Sales Representative|Berkeley Gardens ...|    London|  null|    WX1 6LT|     UK|(171) 555-2282|(171) 555-9199|
|      DUMON|     Du monde entier|    Janine Labrune|               Owner|67, rue des Cinqu...|    Nantes|  null|      44000| France|   40.67.88.88|   40.67.89.89|
|      EASTC|  Eastern Connection|         Ann Devon|         Sales Agent|      35 King George|    London|  null|    WX3 6FW|     UK|(171) 555-0297|(171) 555-3373|
|      FOLIG|   Folies gourmandes|     Martine Rancé|Assistant Sales A...|184, chaussée de ...|     Lille|  null|      59000| France|   20.16.10.16|   20.16.10.17|
|      FRANR| France restauration|    Carine Schmitt|   Marketing Manager|      54, rue Royale|    Nantes|  null|      44000| France|   40.32.21.21|   40.32.21.20|
|      GREAL|Great Lakes Food ...|     Howard Snyder|   Marketing Manager|    2732 Baker Blvd.|    Eugene|    OR|      97403|    USA|(503) 555-7555|          null|
+-----------+--------------------+------------------+--------------------+--------------------+----------+------+-----------+-------+--------------+--------------+
only showing top 10 rows

In [ ]:
# 11. Obtener todos los productos descontinuados o con stock cero.
products_df.show(2)

+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|product_id|product_name|supplier_id|category_id| quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|         1|        Chai|          8|          1|10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|         2|       Chang|          1|          1|24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
only showing top 2 rows

In [ ]:
products_df.filter((products_df.discontinued == 1) &  (products_df.units_in_stock ==0)).show(3)

+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|   quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|         5|Chef Anton's Gumb...|          2|          2|            36 boxes|     21.35|             0|             0|            0|           1|
|        17|        Alice Mutton|          7|          6|      20 - 1 kg tins|      39.0|             0|             0|            0|           1|
|        29|Thüringer Rostbra...|         12|          6|50 bags x 30 sausgs.|    123.79|             0|             0|            0|           1|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
only showing top 3 rows

In [ ]:
# 12. Obtener todas las ordenes hechas por el empleado King Robert

In [ ]:
# 13. Obtener todas las ordenes por el cliente cuya compania es "Que delicia"

In [ ]:
# 14. Obtener todas las ordenes hechas por el empleado King Robert,Davolio Nancy y Fuller Andrew

In [ ]:
# 15. Obtener todos los productos(codigo,nombre,precio,stock) de la orden 10257

In [ ]:
#16. Obtener todos los productos(codigo,nombre,precio,stock) de las ordenes hechas desde 1997 hasta la fecha de hoy.

In [ ]:
# 17. Calcular los 15 productos mas caros

products_df.show(3)

+----------+-------------+-----------+-----------+-------------------+----------+--------------+--------------+-------------+------------+
|product_id| product_name|supplier_id|category_id|  quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+-------------+-----------+-----------+-------------------+----------+--------------+--------------+-------------+------------+
|         1|         Chai|          8|          1| 10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|         2|        Chang|          1|          1| 24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
|         3|Aniseed Syrup|          1|          2|12 - 550 ml bottles|      10.0|            13|            70|           25|           0|
+----------+-------------+-----------+-----------+-------------------+----------+--------------+--------------+-------------+------------+
only showing top 3 rows

In [ ]:
products_df.orderBy(products_df.unit_price.desc()).show(15)

+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|product_id|        product_name|supplier_id|category_id|   quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
|        38|       Côte de Blaye|         18|          1|  12 - 75 cl bottles|     263.5|            17|             0|           15|           0|
|        29|Thüringer Rostbra...|         12|          6|50 bags x 30 sausgs.|    123.79|             0|             0|            0|           1|
|         9|     Mishi Kobe Niku|          4|          6|    18 - 500 g pkgs.|      97.0|            29|             0|            0|           1|
|        20|Sir Rodney's Marm...|          8|          3|       30 gift boxes|      81.0|            40|             0|            0|           0|
|        18|    Carnarvon Tigers|          7|          8|          16 kg pkg.|      62.5|            42|             0|            0|           0|
|        59|Raclette Courdavault|         28|          4|           5 kg pkg.|      55.0|            79|             0|            0|           0|
|        51|Manjimup Dried Ap...|         24|          7|    50 - 300 g pkgs.|      53.0|            20|             0|           10|           0|
|        62|      Tarte au sucre|         29|          3|             48 pies|      49.3|            17|             0|            0|           0|
|        43|         Ipoh Coffee|         20|          1|     16 - 500 g tins|      46.0|            17|            10|           25|           0|
|        28|   Rössle Sauerkraut|         12|          7|     25 - 825 g cans|      45.6|            26|             0|            0|           1|
|        63|        Vegie-spread|          7|          2|     15 - 625 g jars|      43.9|            24|             0|            5|           0|
|        27|  Schoggi Schokolade|         11|          3|  100 - 100 g pieces|      43.9|            49|             0|           30|           0|
|         8|Northwoods Cranbe...|          3|          2|     12 - 12 oz jars|      40.0|             6|             0|            0|           0|
|        17|        Alice Mutton|          7|          6|      20 - 1 kg tins|      39.0|             0|             0|            0|           1|
|        12|Queso Manchego La...|          5|          4|    10 - 500 g pkgs.|      38.0|            86|             0|            0|           0|
+----------+--------------------+-----------+-----------+--------------------+----------+--------------+--------------+-------------+------------+
only showing top 15 rows

In [ ]:
# 18. Calcular los 5 productos mas baratos

products_df.orderBy(products_df.unit_price.asc()).show(5)

+----------+------------------+-----------+-----------+-----------------+----------+--------------+--------------+-------------+------------+
|product_id|      product_name|supplier_id|category_id|quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+------------------+-----------+-----------+-----------------+----------+--------------+--------------+-------------+------------+
|        33|           Geitost|         15|          4|            500 g|       2.5|           112|             0|           20|           0|
|        24|Guaraná Fantástica|         10|          1| 12 - 355 ml cans|       4.5|            20|             0|            0|           1|
|        13|             Konbu|          6|          8|         2 kg box|       6.0|            24|             0|            5|           0|
|        52|          Filo Mix|         24|          5|  16 - 2 kg boxes|       7.0|            38|             0|           25|           0|
|        54|         Tourtière|         25|          6|          16 pies|      7.45|            21|             0|           10|           0|
+----------+------------------+-----------+-----------+-----------------+----------+--------------+--------------+-------------+------------+
only showing top 5 rows

In [ ]:
# 19. Obtener el nombre de todas las categorias y los nombres de sus productos,precio y stock.

In [ ]:
# 20. Obtener el nombre de todas las categorias y los nombres de sus productos,solo los productos que su nombre no comience con la letra P

In [ ]:
# 21. Calcular el stock de productos por cada categoria.Mostrar el nombre de la categoria y el stock por categoria.

In [ ]:
# 22. Obtener el Nombre del cliente,Nombre del Proveedor,Nombre del empleado y el nombre de los productos que estan en la orden 10794

In [ ]:
# 23. Mostrar el numero de ordenes de cada uno de los clientes por año,luego ordenar codigo del cliente y el año.

In [ ]:
# 24. Contar el numero de ordenes que se han realizado por años y meses,luego debe ser ordenado por año y por mes.

In [ ]:
# 25. Seleccionar el nombre de la compañía del cliente,él código de la orden de compra,la fecha de la orden de compra, código del producto, 
# cantidad pedida del producto,nombre del producto, el nombre de la compañía proveedora y la ciudad del proveedor ,usar Join

In [ ]:
# 26. Seleccionar el nombre de la compañía del cliente, nombre del contacto, el código de la orden de compra, la fecha de la orden de compra, 
# el código del producto,cantidad pedida del producto, nombre del producto y el nombre de la compañía proveedora, usas JOIN.Solamente las 
# compañías proveedoras que comienzan con la letra de la A hasta la letra G,además la cantidad pedida del producto debe estar entre 23 y 187.